/* p{
  color: coral;
  width: 300px;
  border: 2px solid brown;
  background-color: cornsilk;
}
ul{
  color: fuchsia;
}
ol{
   color: darkgoldenrod;
}
body{
     background-color: rgb(214, 219, 142);
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
}
h1{
  text-shadow: 1px 1px 1px;
  color: rgb(184, 131, 223); 
}
h2{
   color: darkblue;
} */
